# Terraform provider for Sifflet

* Sifflet website: https://www.siffletdata.com
* Sifflet documentation: https://docs.siffletdata.com
* Provider documentation: https://registry.terraform.io/providers/Siffletapp/sifflet/latest/docs

Sifflet is the leading end-to-end data observability platform built for data engineers and data consumers. The platform includes data quality monitoring, metadata management, and a data catalog with deep lineage capabilities.

## Project status and support

**This is not an official Sifflet product**.

Sifflet does not provide official support for this provider. This provider should be considered alpha-quality
software.

This provider relies on alpha Sifflet APIs. These APIs may be subject to change without notice.

## Usage

```hcl
provider "sifflet" {
  host  = "http://localhost:8080"
  token = "123azert"
}
```

where:

* `host` is the URL of your Sifflet instance.
    - If you're using a Sifflet SaaS instance: if you access the Sifflet web application `https://example.siffletdata.com`, your API URL is `https://example.siffletdata.com/api`
    - If you're using a self-hosted Sifflet instance, contact your administrator to get the API URL.

* `token` is your Sifflet API token. You can generate a token from the [Sifflet web application](https://docs.siffletdata.com/docs/access-tokens). You can also use the `SIFFLET_TOKEN` environment variable to avoid hardcoding a secret in your configuration.
